body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto",sans-serif;
    border: 0px;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: center;
    padding: 10px 300px;
    background-color: #1F2937;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 18px;
    justify-content: flex-end;
    align-items: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.one {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 120px 300px;
}

.one-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.one-left {
    width: 750px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.one-title {
    font-size: 48px;
    font-weight: 800;
}

.one-subtext {
    font-size: 18px;
    color: #E5E7EB;
}


.one-sign-up {
    flex-grow: 0;
    width: 150px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 800;
    border-radius: 8px;
    padding: 8px 10px;
    border: none;
}

.one-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: #757779;
    height: 250px;
    width: 600px;

}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 300px;
    gap: 60px;
}

.two-title {
    font-size: 36px;
    font-weight: 800;
}

.two-container {
    display: flex;
    gap: 80px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 10px;

}

.item {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.two-text {
    text-align: center;
    font-weight: lighter;
    color: #1F2937;
    font-size: 16px;
}

.three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 120px 500px;
    align-items: center;
}

.three-title {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: left;
    width: 825px;

}

.three-subtext {
    font-size: 24px;
    font-weight: 800;
    text-align: right;

}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 300px;
}

.four-container {
    background-color: #3882F6;
    display: flex;
    color: #F9FAF8;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
    height: 150px;
    padding: 0px 150px;
}

.four-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.four-title {
    font-size: 24px;
    font-weight: 800;
}

.four-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    align-items: center;
}

.four-sign-up {
    width: 150px;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    font-size: 18px;
    font-weight: 800;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 40px 800px;
}